botasaurus>=4.0.58
botasaurus-server>=4.0.56
dateutils
lxml
regex
selenium
re
pandas
numpy
os
selenium
openai
multiprocessing
concurrent
time
logging
csv
unicodedata
deep_translator
bs4